<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Teamus">

    <title></title>
    <link href="./style/main.css" rel="stylesheet" type="text/css">
    <style>
    input{
        display:none;
    }
    label{
        width:100px;
        height:30px;
        line-height: 30px;
        text-align: center;

        border:1px solid #d9d9d9;
        
        position:absolute;
        top:40px;
        left:200px;

        cursor:pointer;
    }

    </style>
</head>
<body>
    <input type="file" multiple="multiple">
    <label><input type="file" multiple="multiple">点击上传</label>
<script type="text/javascript" src=""></script>
</body>
</html>