<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Teamus">

    <title></title>
    <link href="../style/main.css" rel="stylesheet" type="text/css">
    <link href="../style/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="page-container">
        <div class="login-container">
            <p>登录(login)</p>
            <input type="text" class="uname" placeholder="请输入您的用户名！">
            <input type="password" class="upwd" placeholder="请输入您的密码！">
            <button id='login' class='login'>登 录</button>
        </div>
        <!--<img src='../source/img/3.jpg'>-->
    </div>
    
    <script type="text/javascript" src="../js/login.js"></script>
</body>

</html>