<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Teamus">

    <title></title>
    <link href="./style/main.css" rel="stylesheet" type="text/css">
    <link href="./style/register.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="page-container">
        <div class="register-container">
            <p>注册(register)</p>
            <input type="text" class="uname" placeholder="请输入用户名！">
            <input type="password" class="upwd" placeholder="请输入密码！">
            <input type="password" class="confirm-upwd" placeholder="请确认密码！">
            <button id="register" class="register">注 册</button>
        </div>
    </div>
    <div id="shielding-layer" class="shielding-layer">
        <div class="content">
            <p>用户名或密码错误</p>
        </div>
    </div>

    <script type="text/javascript" src=""></script>
</body>

</html>